/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: sans-serif;
  padding: 2rem;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0em 0.75em;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  background-color: #ff8364;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  /*background-color: #ffb677;*/
  border: 1px dashed #ffb677;
  color: #616f39;
}

.text-link{
  color: #616f39;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  transition: color 0.5s ease-out;
  transition: border 0.5s ease-out;
}

.text-link:hover, .text-link:focus {
  text-decoration: underline;
  color: #ff8364;
  border: 1px solid #ffb677;
  padding: 0.1em;
}

.button-submit{

    background-color: #6e996e;
    color: white;
    padding: 8px 20px;

button:hover {
    background-color: #45a049;
}

}

.button-submit:hover{
background-color: #45a049;
}

.button-submit:active, .button-reset:active{
  position:relative;
  top:1px;
}

.input-num{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  }

label{
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.input-num:active, .input-num:focus{
  position:relative;
  background-color:#eee;
}


/* 
  TEXT ELEMENTS -------------------
*/
.heading-one{
  font-size:3rem;
  color: #616f39;
  font-family: 'Raleway', sans-serif;
}

/* Styling for heading two */
.heading-two{
  font-size:1.5rem;
  color: #616f39;
  font-family: 'Raleway', sans-serif;
}

/* Styling for heading three */
.heading-three{
  font-size:1.1rem;
  color: #616f39;
  font-family: 'Raleway', sans-serif;
}

.paragraph{
  font-family: 'Raleway', sans-serif;
  max-width: 500px;
}

.ul-list{
  font-family: 'Raleway', sans-serif;
  color: #616f39;
}

.ol-list{
  text-decoration:none;
  color:#616f39;
  font-family: 'Raleway', sans-serif;
}

.ol-list a:hover, .ol-list a:focus{
  color: #616f39;
  display:inline-block;
  font-family:'Raleway', sans-serif;
  font-weight:bold;
}


/* 
  COMBINED ELEMENTS -------------------
*/

nav#menu {
  display: flex;
  background-color: #ff8364;
  justify-content: space-around;
}

.product-container{
  display:flex;
  flex-wrap: wrap;
}

.product-item{
  margin:1em;
  text-align:center;
  border:1px solid #000;
  padding: 1em;
}

.product-item p{
  color: #616f39;
  font-family:'Raleway', sans-serif;
  background-color:#ffd98e;
  margin:0;
  font-weight: bold;
  padding:1em 0.5em;
}


/* structure css*/

#structure *{
  font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    }

#structure header {
  display: flex;
  padding: 30px;
  background: #616f39;
  justify-content: center;
}


#structure .logo{
  display: flex;
  width: 6rem;
  justify-content: center;
  background-color:#eee;

}

#structure .main-pic{
  display: flex;
  justify-content: center;
}



#structure .main-pic{
  background-color: #ffb677;
}

#structure .cold-press, #structure .online-shop{
  display: flex;
  justify-content: center;
  background-color: #ffd98e;
  padding: 3rem;
}

#structure .cold-press p, #structure .online-shop p{
  max-width: 400px; 
  padding: 0 1rem;
}

#structure .cold-press a, #structure .online-shop a{
  margin: 0 1rem; 
}

#structure .nav-main{
  display: flex;
  background-color: #ff8364;
  justify-content: space-around;
  padding: 0.6rem;
}

#structure .button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  background-color: #ff8364;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

#structure .button-nav:hover, #structure .button-nav:focus {
  border: 1px dashed #ffb677;
  color: #616f39;
}

#structure footer{
  background-color: #616f39;
  padding: 3rem;
}