* {
    box-sizing: border-box;
}


/* Style the body */

body {
    font-family: Arial;
    margin: 0;

    margin: auto;
}

#structure .button-nav {
    display: inline-block;
    padding: 0.5em 0.75em;
    font-family: Hannotate SC, sans-serif;
    color: #000;
    border-radius: 0.25em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: color 0.5s ease-out;
}
.active,
.iconn{
    display: none;
}

#structure .button-nav:hover,
#structure .button-nav:focus {
    color: #616f39;
    text-decoration: underline;
}


/* Column container */

#structure header {
    display: flex;
    /*padding: 30px;*/
    justify-content: center;
    border-bottom: 1px solid grey;
}


#structure .logo {
    /*display: flex;

  justify-content: center;*/
}


/*
#structure .icon{
  height: 30px;
  width: 30px;

}
  
  #structure .icon:hover{

  text-decoration: underline;

  }
*/

.icon a {
    display: block;
    width: 30px;
    height: 30px;
    background: url(image/icon.png);
    position: relative;
    left: 95%;
}

.icon a:hover {
    background: url(image/iconn.png);
}

#structure .nav-main {
    display: flex;
    justify-content: space-around;
    padding: 0.6rem;
}

.fakeimg {

    background-image: url(image/pin.jpg );
    width: 100%;

    height: 450px;
    text-align: center;
    padding-top: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.fakeimg p {
    font-family: Hanzipen SC, sans-serif;
    font-weight: 100;
    font-size: 50px;
    line-height: 90px;
    margin-top: 10px;

    color: #3e514a;
}

.enjoy p {

    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 90px;
    margin-top: -60px;


    color: #3e514a;
}



.title {

    width: 100%;
    /*padding: 20px;*/
    /*height:60px;*/
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    font-size: 130%;
}

.title p {

    padding-top: 26px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 26px;
    width: 50%;
    margin: auto;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #3e514a;
}

.cold-pressed{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.cold-press-content{
 display: flex;
 flex-direction: column; 
 align-items: center;
}

.cold-press-content p{
 max-width: 60%;
 font-family: Verdana, Geneva, sans-serif;
}

.main-pic img{
    width:100%;

}


/* Footer */

footer {
    display: flex;
    justify-content: space-around;



    margin: 0 4rem;
    /*margin-bottom: 2rem;*/
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 2rem;
    margin-top: 3em;
    background-color: white；
}


footer>div img {

    height: 100px;
    width: 100px;
}







/*Styling for cart page ends here------------------------------------------------------*/


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 480px) {
    .row,
    
    footer {
        flex-direction: column;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    footer<div img {

        height: 20%;
    }

     nav {
        overflow: hidden;
        background-color: #333;
        position: relative;
        padding: 0;
    }

    nav #myLinks {
        display: none;
    }

    nav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    nav a.iconn {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    nav a:hover {
        background-color: #ddd;
        color: black;
        text-decoration: none;
    }

    .active {
        background-color: #4CAF50;
        color: white;
    }

    .active,
    .iconn {
        display: block;
    }

    #structure .button-nav {
        color: white;
        display: block;
        text-align: left;
    }

    #structure .button-nav:hover {
        text-decoration: none;
    }

    #structure .nav-main {
        padding: 0;
    }
.fakeimg{

    display: none;
}
.enjoy{

    display:none;
}
.icon{
    margin-right: 1.5em;
}
    
    /* CART page end-----------------------------------------------------*/
}