
*,*::after, *::before{
  /* Set every element to use the border-box model. */
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  margin:auto;
}



/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button{
  display: flex;
  padding: 0.5em 0.75em;
  color: #000;
  text-decoration: underline;
  -webkit-transition: background-color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.button:hover, .button:focus {
  color: #616f39;
  border: 1px solid #000;
}


.text-link{
  color: #616f39;
  font-family: Hannotate SC, sans-serif;
  text-decoration: none;
  transition: color 0.5s ease-out;
  transition: border 0.5s ease-out;
}

.text-link:hover, .text-link:focus {
  text-decoration: underline;
  color: #ff8364;
  border: 1px solid #ffb677;
  padding: 0.1em;
}

.button-submit, .button-reset{
  font-family: 'Raleway', sans-serif;  
  background-color:#ff8364;
  box-shadow: 3px 4px 0px 0px #899599;
  border-radius:10px;
  border:2px solid #333029;
  display:inline-block;
  cursor:pointer;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  padding:8px 16px;
  text-decoration:none;

}

.button-submit:hover, .button-reset:hover{
  background:linear-gradient(to bottom, #ffb677 5%, #ff8364 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb677', endColorstr='#ff8364',GradientType=0);
  background-color:#ffb677;
}

.button-submit:active, .button-reset:active{
  position:relative;
  top:1px;
}

.input-num{
  font-family: 'Raleway', sans-serif;
  padding: 7px 0; 
  border: 1px solid #ccc;
  transition: background-color 0.5s ease-out;
  }

.input-num:active, .input-num:focus{
  position:relative;
  background-color:#eee;
}


/* 
  TEXT ELEMENTS -------------------
*/
.heading-one{
  font-size:3rem;
  color: #616f39;
  font-family: Hannotate SC, sans-serif;
}

/* Styling for heading two */
.heading-two{
  font-size:1.5rem;
  color: #616f39;
  font-family: Hannotate SC, sans-serif;
  padding: 0 1rem;
}


.paragraph{
  font-family: 'Raleway', sans-serif;
  max-width: 500px;
}


/* structure css*/


header {
  display: flex;
  padding: 30px;
  justify-content: center;
  border-bottom: 1px solid grey; 
}


.logo{
  display: flex;
  width: 6rem;
  justify-content: center;
}
.fakeimg {
     
        background-image: url(image/pin.jpg);
        width: 100%;
        height:450px;
        text-align: center;
        padding-top:100px;
        background-size:100%;
        background-repeat:no-repeat;

    }

   .fakeimg p {
         font-family:Hanzipen SC, sans-serif;
         font-weight:100;
        font-size: 50px;
        line-height: 90px;
        margin-top:10px;


        color:#3e514a;
    }

    .enjoy p{

        font-family: Helvetica, Arial, sans-serif;
         font-weight:100;
        font-size: 20px;
        line-height: 90px;
        margin-top:-60px;


        color:#3e514a;

    }



 .home-pic img{
  width: 80%;
}

.whole{
display: flex;
justify-content: center;
}

.home-content{
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 60%
}

 .cold-press, .online-shop{
  display: flex;
  padding: 2rem 0rem;
  justify-content: space-between;
}

 .cold-press p,  .online-shop p,  .brand-history p,  .brand-purpose p{
  max-width: 400px; 
  padding: 0 1rem;
}

.cold-press-side, .shop-side{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.cold-pressed{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.cold-press-content{
 display: flex;
 flex-direction: column; 
 align-items: center;
}

.cold-press-content p{
 max-width: 60%;
}

.nav-main{
  display: flex;
  justify-content: space-around;
  padding: 0.6rem;
}
.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  font-family: Hannotate SC, sans-serif;
  color: #000;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

 .button-nav:hover, .button-nav:focus {
  color: #616f39;
  text-decoration: underline;
}

.brand{
  padding: 5rem;
  display: flex;
  justify-content: space-evenly;
  border:1px solid red;
}

.brand-history{
flex-direction: column;
padding-right: 5rem;
border:1px solid red;
}

.brand .image{
  border:1px solid red;
  margin:1em;
  width:30%;
}

.brand img{
  width: 50%;
  height: auto;

}

.phone, .work-hour{
  padding-bottom: 2rem;
}


.phone p, .work-hour p, .address p{
  padding: 0 1rem;
}

.contact{
  display: flex;
  justify-content: center;
}

.contact-info{
  flex-direction: column; 
  padding: 3rem 0;
}

.map{
    padding: 3rem;
}

.suggestion{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  background-color: #F6FCBC;
  margin-bottom: 3rem; 

}

.submit{
  /*margin-left: 32rem;*/
  position:relative; 
  left:89%;
  background-color: #6e996e;
  color: white;
  padding: 8px 15px;
}

.submit:hover{
  background-color: #45a049;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}




footer{
  display: flex;
  justify-content: space-around;
  margin: 0 4rem;
  margin-bottom: 2rem;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 2rem;
}

footer>div img{
  height: 100px;
}

footer p{
  margin:0 5rem;
}

.footer-add, .footer-work{
  padding: 2rem 0;
}

@media screen and (max-width: 700px) {
        .nav-main{
            flex-direction: column;
            align-items: center;
        }
    }


}